<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SeleniumTest">


  <test  name="AutomationTest">
  
    <classes>
    
      <class name="com.selenium.testngExample.MultipleTestCaseExecution"/>
      <class name="com.selenium.testngExample.DisableTestCase"/>
      
      
    </classes>
    
  </test>  
  
  
</suite>  
